/* Set antialiasing fonts */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set default style */

html,
body {
  min-height: 100%;
  min-width: 100%;
  font-size: 16px;
  font-family: $font-roboto;
}

/* Set html height to 100% */
html {
  height: 100%;
}

/* Set body height to 100% */
body {
  height: 100%;
}

/* Set body small window height */
body.window-small {
  height: 100%;
}

/* Sets default animation duration */
a,
button,
input,
textarea,
select {
  transition: all 250ms ease;
}
